# The `features` module

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opencadd.databases.klifs import setup_remote
remote = setup_remote()

INFO:opencadd.databases.klifs.api:If you want to see an non-truncated version of the DataFrames in this module, use `pd.set_option('display.max_columns', 50)` in your notebook.
INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!

## Load pocket as `PocketBiopython`

In [3]:
from kissim.io import PocketBiopython
pocket_bp = PocketBiopython.from_remote(remote, 12347)

## Load pocket as `PocketDataframe`

In [4]:
from kissim.io import PocketDataframe
pocket_df = PocketDataframe.from_remote(remote, 12347)

## Side chain orientation

In [5]:
from kissim.encoding.features.sco import SideChainOrientationFeature

In [6]:
sco = SideChainOrientationFeature.from_pocket_biopython(pocket_bp)

In [7]:
sco.features

     sco
461  1.0
462  2.0
463  NaN
468  2.0
469  1.0
..   ...
584  2.0
592  2.0
593  0.0
594  2.0
595  1.0

[78 rows x 1 columns]

In [8]:
sco.features_verbose

,sco.category,sco.angle,ca.vector,sc.vector,centroid
461,1.0,84.436343,"<Vector 8.81, 16.81, 51.66>","<Vector 5.63, 14.81, 52.26>","<Vector 0.83, 21.62, 36.45>"
462,2.0,97.300788,"<Vector 8.91, 14.91, 48.36>","<Vector 9.76, 14.73, 47.86>","<Vector 0.83, 21.62, 36.45>"
463,NaN,NaN,"<Vector 5.48, 13.77, 47.17>",None,"<Vector 0.83, 21.62, 36.45>"
468,2.0,138.410707,"<Vector 9.01, 12.20, 35.42>","<Vector 14.05, 11.55, 35.02>","<Vector 0.83, 21.62, 36.45>"
469,1.0,78.320544,"<Vector 10.82, 14.70, 37.66>","<Vector 10.22, 14.11, 37.06>","<Vector 0.83, 21.62, 36.45>"
...,...,...,...,...,...
584,2.0,128.398325,"<Vector -9.36, 18.82, 42.32>","<Vector -11.45, 17.57, 41.42>","<Vector 0.83, 21.62, 36.45>"
592,2.0,149.739811,"<Vector -4.69, 21.47, 35.20>","<Vector -7.54, 21.40, 32.54>","<Vector 0.83, 21.62, 36.45>"
593,0.0,18.429934,"<Vector -0.96, 20.89, 35.01>","<Vector -0.49, 21.35, 35.47>","<Vector 0.83, 21.62, 36.45>"
594,2.0,92.784985,"<Vector 1.83, 18.43, 34.14>","<Vector 1.72, 16.82, 36.09>","<Vector 0.83, 21.62, 36.45>"
595,1.0,59.266540,"<Vector 2.38, 19.71, 30.60>","<Vector 0.31, 24.33, 31.38>","<Vector 0.83, 21.62, 36.45>"

## Exposure

In [9]:
from kissim.encoding.features.exposure import ExposureFeature

In [10]:
exposure = ExposureFeature.from_pocket_biopython(pocket_bp)

In [11]:
exposure.features

     exposure
450  0.722222
451  0.272727
452  0.750000
453  0.111111
454  0.263158
..        ...
718  0.576923
719  0.357143
720  0.600000
721  0.833333
722  0.000000

[254 rows x 1 columns]

In [12]:
exposure.features_verbose

,ca.up,ca.down,ca.angle_cb_ca_pcb,ca.exposure,cb.up,cb.down,cb.angle_cb_ca_pcb,cb.exposure,exposure
450,NaN,NaN,NaN,NaN,13.0,5.0,0.0,0.722222,0.722222
451,9.0,13.0,0.433610,0.409091,6.0,16.0,0.0,0.272727,0.272727
452,14.0,10.0,0.453866,0.583333,18.0,6.0,0.0,0.750000,0.750000
453,0.0,18.0,0.623517,0.000000,2.0,16.0,0.0,0.111111,0.111111
454,10.0,9.0,0.905219,0.526316,5.0,14.0,0.0,0.263158,0.263158
...,...,...,...,...,...,...,...,...,...
718,13.0,13.0,0.880068,0.500000,15.0,11.0,0.0,0.576923,0.576923
719,0.0,14.0,0.880953,0.000000,5.0,9.0,0.0,0.357143,0.357143
720,2.0,13.0,0.902309,0.133333,9.0,6.0,0.0,0.600000,0.600000
721,9.0,9.0,0.705863,0.500000,15.0,3.0,0.0,0.833333,0.833333
722,NaN,NaN,NaN,NaN,0.0,14.0,0.0,0.000000,0.000000

## SiteAlign features

In [13]:
from kissim.encoding.features.sitealign import SiteAlignFeature

In [14]:
hba = SiteAlignFeature.from_pocket_dataframe(pocket_df, "hba")
hba.features

     feature
461      1.0
462      0.0
463      0.0
468      0.0
469      0.0
..       ...
584      0.0
592      0.0
593      0.0
594      2.0
595      0.0

[78 rows x 1 columns]

In [15]:
hbd = SiteAlignFeature.from_pocket_dataframe(pocket_df, "hbd")
hbd.features

     feature
461      1.0
462      3.0
463      0.0
468      0.0
469      0.0
..       ...
584      0.0
592      0.0
593      0.0
594      0.0
595      0.0

[78 rows x 1 columns]

In [16]:
size = SiteAlignFeature.from_pocket_dataframe(pocket_df, "size")
size.features

     feature
461      2.0
462      3.0
463      2.0
468      3.0
469      1.0
..       ...
584      2.0
592      2.0
593      1.0
594      2.0
595      3.0

[78 rows x 1 columns]

In [17]:
charge = SiteAlignFeature.from_pocket_dataframe(pocket_df, "charge")
charge.features

     feature
461      0.0
462      1.0
463      0.0
468      0.0
469      0.0
..       ...
584      0.0
592      0.0
593      0.0
594     -1.0
595      0.0

[78 rows x 1 columns]

In [18]:
aliphatic = SiteAlignFeature.from_pocket_dataframe(pocket_df, "aliphatic")
aliphatic.features

     feature
461      0.0
462      0.0
463      1.0
468      0.0
469      0.0
..       ...
584      1.0
592      1.0
593      0.0
594      0.0
595      0.0

[78 rows x 1 columns]

In [19]:
aromatic = SiteAlignFeature.from_pocket_dataframe(pocket_df, "aromatic")
aromatic.features

     feature
461      0.0
462      0.0
463      0.0
468      1.0
469      0.0
..       ...
584      0.0
592      0.0
593      0.0
594      0.0
595      1.0

[78 rows x 1 columns]