# The `fingerprint` module

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import logging 

import pandas as pd
from opencadd.databases.klifs import setup_remote, setup_local

from kissim.encoding import Fingerprint, FingerprintGenerator

RDKit WARNING: [11:49:28] Enabling RDKit 2019.09.3 jupyter extensions
INFO:opencadd.databases.klifs.api:If you want to see an non-truncated version of the DataFrames in this module, use `pd.set_option('display.max_columns', 50)` in your notebook.

In [3]:
logger = logging.getLogger("opencadd")
logger.setLevel(logging.ERROR)

## Select structure KLIFS ID

In [4]:
structure_klifs_id = 109

## Generate fingerprint from KLIFS remote session

1. Set up KLIFS remote session

In [5]:
KLIFS_REMOTE = setup_remote()

2. Generate fingerprint

In [6]:
fingerprint = Fingerprint.from_structure_klifs_id(structure_klifs_id, KLIFS_REMOTE)

## Generate fingerprint from KLIFS local session

1. Set up KLIFS local session

In [7]:
KLIFS_LOCAL = setup_local(
    "/home/dominique/Documents/GitHub/kissim_app/data/external/20201223_KLIFS_ABL2_HUMAN/"
)

2. Generate fingerprint

Not working yet because pocket is calculated based on mol2 files but `kissim` only uses pdb files.

In [8]:
#fingerprint = Fingerprint.from_structure_klifs_id(structure_klifs_id, KLIFS_LOCAL)

## Fingerprint

### Class properties

In [9]:
fingerprint.physicochemical

            size  hbd  hba  charge  aromatic  aliphatic  sco  exposure
residue.ix
1            1.0  1.0  1.0     1.0       1.0        1.0  1.0  0.894737
2            0.0  0.0  0.0     0.0       0.0        0.0  2.0  0.600000
3            0.0  0.0  0.0     0.0       0.0        0.0  1.0  0.259259
4            0.0  0.0  0.0     0.0       0.0        0.0  NaN  0.157895
5            0.0  0.0  0.0     0.0       0.0        0.0  NaN  1.000000
...          ...  ...  ...     ...       ...        ...  ...       ...
81           2.0  2.0  2.0     2.0       2.0        2.0  2.0  0.655172
82           0.0  0.0  0.0     0.0       0.0        0.0  1.0  0.457143
83           0.0  0.0  0.0     0.0       0.0        0.0  NaN  0.692308
84           0.0  0.0  0.0     0.0       0.0        0.0  1.0  0.440000
85           1.0  1.0  1.0     1.0       1.0        1.0  2.0  0.727273

[85 rows x 8 columns]

In [10]:
fingerprint.distances

            hinge_region  dfg_region  front_pocket     center
residue.ix
1              13.638825   18.151474     14.976771  17.175083
2              11.992615   15.466840     12.175196  14.700112
3               9.609095   14.682669      9.020685  12.176828
4              11.448428   15.794301      8.619237  12.807142
5              14.557948   17.282959     11.822055  15.756102
...                  ...         ...           ...        ...
81              9.265642    7.738092      6.713789   4.406954
82              8.524595    6.593623      5.218254   4.892904
83             11.939774    6.238186      8.907651   8.120234
84             13.661263    9.324866      9.374503  10.433296
85             17.328062   12.035613     12.813744  13.699330

[85 rows x 4 columns]

In [11]:
fingerprint.moments

         hinge_region  dfg_region  front_pocket     center
moments
1           12.744560   13.951374     12.748791  12.093494
2            4.411861    4.842253      4.286651   3.403159
3            2.920390    3.377546      3.075991   1.621387

### Class methods

In [12]:
len(fingerprint.values_array())

692

In [13]:
len(fingerprint.values_array(True, True, True))

1032

### Class attributes

In [14]:
fingerprint.values_dict;

In [15]:
print(*fingerprint.residue_ids)

292 293 294 295 296 297 298 299 300 301 302 303 304 314 315 316 317 318 319 328 329 330 331 332 333 334 335 336 337 338 339 340 342 343 344 345 346 347 348 349 350 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 425 426 427 428 429 430 431

In [16]:
print(*fingerprint.residue_ixs)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85