# The `io` module

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from kissim.io import Complex, Pocket

## The `Complex` class

TODO description

In [3]:
complex = Complex.from_structure_id(12347)
complex

INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!

In [4]:
print(complex.dataframe.shape)
complex.dataframe.head()

(1819, 7)

   atom.id atom.name  atom.x  atom.y  atom.z residue.pdb_id residue.name
0        1         N  10.546  36.428  36.295            450          TRP
1        2        CA   9.900  35.648  37.347            450          TRP
2        3         C  10.875  34.729  38.070            450          TRP
3        4         O  10.461  33.857  38.834            450          TRP
4        5        CB   8.745  34.822  36.782            450          TRP

In [5]:
complex._biopython

In [6]:
len(list(complex._hse))

254

## The `Pocket` class

TODO description

In [7]:
pocket = Pocket.from_structure_id(12347)
pocket

INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!
INFO:opencadd.databases.klifs.api:Set up remote session...
INFO:opencadd.databases.klifs.api:Remote session is ready!

In [8]:
print(pocket.dataframe.shape)
pocket.dataframe.head()

(577, 7)

    atom.id atom.name  atom.x  atom.y  atom.z residue.pdb_id residue.name
73       74         N   9.014  18.239  51.860            461          GLN
74       75        CA   8.811  16.811  51.656            461          GLN
75       76         C   8.559  16.492  50.186            461          GLN
76       77         O   7.851  17.224  49.491            461          GLN
77       78        CB   7.630  16.325  52.501            461          GLN

In [9]:
pocket._biopython

In [10]:
len(list(pocket._hse))

78